---
layout: layouts/base.njk
title: GPG key
permalink: /gpg/
description: Paolo Anzani's public GPG key, for encrypted email and signature verification.
---
<h1>GPG key</h1>

<p>
    Use this to send me encrypted mail, or to verify something I've signed.
    Same key as the one published at
    <a href="https://github.com/paoloanzn.gpg">github.com/paoloanzn.gpg</a>.
</p>

<table class="key-details">
    <tbody>
        <tr><th>Identity</th><td>{{ metadata.author.name }} &lt;{{ metadata.author.email }}&gt;</td></tr>
        <tr><th>Fingerprint</th><td><code>{{ metadata.gpg.fingerprint }}</code></td></tr>
        <tr><th>Key ID</th><td><code>{{ metadata.gpg.keyid }}</code></td></tr>
        <tr><th>Type</th><td>{{ metadata.gpg.type }}</td></tr>
        <tr><th>Created</th><td>{{ metadata.gpg.created }}</td></tr>
        <tr><th>Expires</th><td>{{ metadata.gpg.expires }}</td></tr>
        <tr><th>Download</th><td><a href="{{ metadata.gpg.path | url }}">{{ metadata.gpg.path }}</a></td></tr>
    </tbody>
</table>

<h2>Encrypt a message for me</h2>

<ol>
    <li>
        Import the public key:
        <pre><code>curl -sSL {{ metadata.url }}{{ metadata.gpg.path }} | gpg --import</code></pre>
    </li>
    <li>
        Check that its fingerprint matches the one above:
        <pre><code>gpg --fingerprint {{ metadata.gpg.keyid }}</code></pre>
    </li>
    <li>
        Encrypt a file for me:
        <pre><code>gpg --armor --encrypt \
    --recipient {{ metadata.author.email }} \
    --output message.txt.asc message.txt</code></pre>
    </li>
    <li>
        Send <code>message.txt.asc</code> to
        <a href="mailto:{{ metadata.author.email }}">{{ metadata.author.email }}</a>.
        I'll be the only one who can decrypt it.
    </li>
</ol>

<h2>Verify something I signed</h2>

<p>
    Download the signed file and its detached signature, then run:
</p>

<pre><code>gpg --verify message.txt.sig message.txt</code></pre>

<p>
    Look for <code>Good signature from "{{ metadata.author.name }} &lt;{{ metadata.author.email }}&gt;"</code>,
    and confirm that the signing key's fingerprint matches the one shown above:
</p>

<pre><code>gpg --fingerprint {{ metadata.gpg.keyid }}</code></pre>
